body {
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #333;
    width: 30em;
    padding: 5px;
}


/*TABLE */

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 2em;
}


.table th {
    font-weight: normal;
    padding: 1em 1em 0em;
    border-bottom:2pt solid black;
}

.table td {
    padding: 7px 8px 0px 8px;
}

/*HEADER*/

/* Style the tab */
#tab {
    border: 1px solid #ddd;
    background-color: lightseagreen;
    padding: 0.5em;
}

#tab a {
    color: white;
    text-decoration: none;
}

/*FOOTER*/
#footer {
    clear: both;
    background-color: lightseagreen;
    border: 1px solid #ddd;
    margin-top: 1em;
    padding: 0.5em;
    text-align: right;
    color: #ffffff;
}

/*ADD FORM PAGE*/

#add-form {
    margin-top: 1.5em;
    width: 95%;

}

#add-form p {
    padding-left: 10px;
}

input {
    float: right;
}


input[name=submit-button] {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

#errors {
    padding: 1em;
    color: red;
}