body {
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #333;
    width: 30em;
    padding: 5px;
}


/*TABLE */

.table {
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}


.table th {
    margin-left: 0px;
    font-weight: normal;
    padding: 1em 1em 0em;
    border-bottom:2pt solid black;
}

.table td {
    padding: 7px 8px 0px 8px;
}

/*HEADER*/

/* Style the tab */
#tab {
    border: 1px solid #ddd;
    background-color: #ff3399;
    padding: 0.5em;
}

#tab a {
    text-decoration: none;
}

/*FOOTER*/
#footer {
    clear: both;
    background-color: #ff3399;
    border: 1px solid #ddd;
    margin-top: 1em;
    padding: 0.5em;
    text-align: right;
    color: #ffffff;
    text-shadow: 2px 2px #990033;
}

/*ADD FORM PAGE*/

.add-form {
    width: 100%;
}

.add-form td {
    text-align: right;
    width: 50%;
}

input {
    float: right;
}


input[name=salvesta] {

}